// Open/Close modal menu

.mobile__menu-btn {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;

    z-index: 111;

    background-color: transparent;

    @include media(tablet) {
        display: none;
    }
}

.mobile__icon-btn {

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.mobile__icon-close {
    display: none;
}

.mobile__menu-btn.is-open {
    position: fixed;
    top: 0;
    right: 0;
    padding-right: 15px;

    .mobile__icon-close {
        display: block;
    }

    .mobile__icon-open {
        display: none;
    }
}

// Mobile menu

.mobile__menu {
    position: fixed;
    top: 0;
    left: -100%;
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    transition: left 0.5s;

    &.is-open {
        left: 0;
    }

    @include media(mobile) {
        padding: 50px 40px;
    }
}

.mobile__nav-item {
    margin-bottom: 35px;

    &:last-child {
        margin-bottom: 0;
    }
}

.mobile__nav-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.mobile__info-list {
    margin-top: 35px;

    @include media(mobile) {
        margin-top: 300px;
    }
}

.mobile__info-item {
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }
}

.mobile__info-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--secondary-text-color);

    &#info-link-color {
        color: var(--accent-color);
    }
}

.mobile__society-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 65px;
}

.mobile__society-item {
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        border-right: 0;
    }

    @include media(mobile) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.mobile__society-link {
    // padding-right: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    // border-right: 1px solid rgba(33, 33, 33, 0.2);

    color: var(--accent-color);

    // &:not-last-child() {
    //     border-right: 1px solid rgba(33, 33, 33, 0.2);
    // }

    @include media(mobile) {
        // padding-right: 10px;
        font-size: 18px;
    }
}