.section__title {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

    @include media(desktop) {
            margin-bottom: 50px;
        }
}

.hide__title {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}