:root {
    --primary-white-color: #fff;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-font-family: Roboto, Sans-serif;
    --footer-color: #2F303A;
}