.page__header {
    border-bottom: 1px solid #ECECEC;
}

.main__header {
    display: flex;
    align-items: center;
}

.main__nav {
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
    margin-left: 95px;
}

.nav__info {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.nav__item {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);

    cursor: pointer;

    &:not(:last-child) {
        margin-right: 50px;
    }
}

.nav__link {
    position: relative;
    display: block;
}

.nav__link,
.nav__contact {
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--accent-color);
        color: var(--accent-color);
    }
}

.nav__contact {
    display: flex;
    align-items: center;
    color: var(--secondary-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__icon {
    margin-right: 10px;
    fill: currentColor;

    &:hover,
    &:focus {
        fill: var(--accent-color);
        color: var(--accent-color);
    }
}

.current {
    color: var(--accent-color)
}

.currentpage {
    color: var(--accent-color);

    &::after {
        position: absolute;
        content: '';
        display: block;
        bottom: 0;

        width: 100%;
        height: 4px;
        background: var(--accent-color);
        border-radius: 2px;
        background-repeat: no-repeat;
        background-position: bottom;
    }
}