.ourteam {
    background-color: #F5F4FA;
}

.team__list {
    display: flex;
    flex-wrap: wrap;
}

.team__item {
    flex-basis: 100%;
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }

    @include media(tablet) {
        flex-basis: calc((100% - 30px) / 2);
        margin-right: 30px;
    }

    @include media(tablet-only) {
        &:nth-child(2n) {
            margin-right: 0;
        }

        &:nth-child(3n) {
            margin-bottom: 0;
        }

        &:nth-child(4n) {
            margin-bottom: 0;
        }
    }

    @include media(desktop) {
        flex-basis: calc((100% - 30px * 3) / 4);
        margin-bottom: 0;

        &:nth-child(4n) {
            margin-right: 0;
        }
    }

    box-shadow: 0px 1px 3px rgba(0, 0, 0, .12),
    0px 1px 1px rgba(0, 0, 0, .14),
    0px 2px 1px rgba(0, 0, 0, .2);
    border-radius: 0px 0px 4px 4px;

    background-color: var(--primary-white-color);
}

.team__layout {
    padding-top: 30px;
    padding-bottom: 24px;

    @include media(desktop) {
            padding-bottom: 30px;
        }
}

.team__name {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}

.team__description {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;

    color: var(--secondary-text-color);
}